.mainContainer {
    max-width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    max-height: 90%;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    transition: all 0.5s ease;
}

.content > button {
    width: 250px;
    height: 250px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.25s ease;
}

.content > button:hover {
    transform: scale(1.1);

    & > img {
        transform: scale(1.4);
    }
}

.content > button:active {
    transform: none;
    box-shadow: none;
}

/* this is when data has been fetched */
.content > button > img {
    object-position: center;
    object-fit: scale-down;
    width: 90%;
    height: 90%;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1250px) {
    .content > button {
        width: 200px;
        height: 200px;
    }

    .content {
        grid-template-rows: repeat(2, 200px);
        grid-template-columns: repeat(4, 200px);
    }
}

@media screen and (max-width: 1050px) {
    .content > button {
        width: 150px;
        height: 150px;
    }

    .content {
        grid-template-rows: repeat(2, 150px);
        grid-template-columns: repeat(4, 150px);
    }
}

@media screen and (max-width: 800px) {
    .content > button {
        width: 150px;
        height: 150px;
    }

    .content {
        grid-template-rows: repeat(4, 150px);
        grid-template-columns: repeat(2, 150px);
    }
}
