.mainContainer {
    margin-top: 10px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer > p {
    cursor: default;
    text-align: center;
}

.mainContainer > p > span:hover {
    cursor: pointer;
    text-decoration: underline;
}
