.mainContainer {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    position: relative;
}

.mainContainer > h2 {
    letter-spacing: 0.25px;
    cursor: pointer;
    transition: all 0.25s;
}

.mainContainer > h2:hover {
    transform: scale(1.2);
}

.buttonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttonHolder > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
}

.buttonHolder > button:hover {
    transform: scale(1.2);
}

.buttonHolder > button > img {
    height: 35px;
    width: 35px;
}

.infoBox {
    right: 20%;
    bottom: -150%;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
