.mainContainer {
    max-width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.mainContainer > h3 {
    cursor: pointer;
    transition: all 0.25s ease;
}

.mainContainer > h3 > span {
    font-size: 20px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.mainContainer > h3:hover {
    transform: scale(1.2);
}

.mainContainer > h3:nth-child(1) > span {
    color: #00fa0a;
}

.mainContainer > h3:nth-child(2) > span {
    color: #fcd703;
}
