.mainContainer {
  min-width: 100vw;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mainContainer > h3 {
  cursor: pointer;
}

.mainContainer > h3:hover {
  text-decoration: underline;
}

.mainContainer > h3 > span{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.mainContainer > h3 > span:hover {
  background-color: #fc702e;
}
