@font-face {
    font-family: "MplusMedium";
    src:
        url("RoundedMplus1c-Medium.woff2") format("woff2"),
        url("RoundedMplus1c-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}